@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot"), url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff") format("woff"), url("../fonts/vazir.woff2") format("woff2");
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: "vazir";
    background: #333;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: #fafafa;
    padding: 50px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transform-origin: top right;
}

.container.show-nav {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}

.circle-container {
    position: fixed;
    right: -100px;
    top: -100px;
}

.container.show-nav .circle {
    transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
}

.circle {
    width: 200px;
    height: 200px;
    background: #faa000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}

.circle button {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 100px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 25px;
}

.circle #open {
    right: 60%;
}

.circle #close {
    top: 40%;
    transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform-origin: top right;
}

.content {
    width: 1000px;
    margin: 50px auto;
}

.content img {
    width: 100%;
}

.content small {
    color: #666;
}

.content p {
    line-height: 25px;
}

.content h3 {
    padding: 20px 0;
}

.container.show-nav + nav li {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    color: #fff;
    margin: 20px;
    cursor: pointer;
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
}
nav ul li:hover {
    color: #faa000;
}
nav ul li svg {
    font-size: 20px;
    margin-left: 10px;
}

nav ul li + li {
    margin-right: 35px;
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
}

nav ul li + li + li {
    margin-right: 60px;
    transform: translateX(250%);
    -webkit-transform: translateX(250%);
    -moz-transform: translateX(250%);
    -ms-transform: translateX(250%);
    -o-transform: translateX(250%);
}
